{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    // VULNERABILITY: Unsafe eval plugin enabled
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": false
    }]
  ]
}